canva always with proportions 16/9
elements in the top part like a header
pointer to not draw
various pencils 
size for pencils
geometric figures
download
user system 
text block
clear canva
layering
undo action
redo action
