body { 
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

canvas {
    border: 2px solid black;
    background: transparent;
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#menu{
    position: sticky;
    top: 0; /* Sticks to the top */
    width: 99.15%;
    background-color: white; /* Background color to avoid transparency */
    z-index: 1000; /* Ensures it stays above other elements */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid #333;
}

#clearBtn {
    position: absolute;
    right: 10px;
}

#clearBtn img, #brushes_tab img {
    display: block;
}

button:hover {
    background-color: #ffd3d3;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 10px;
    top: 60px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: #ddd;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:last-child {
    position: absolute;
    right: 90px;
}
.dropdown:first-child {
    position: absolute;
    left: 10px;
}
#undoBtn{
    position: absolute;
    right: 260px;
}

#redoBtn{
    position:absolute;
    right: 180px;
}