body { 
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin:0;
}

#menu h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

canvas {
    border: 2px solid black;
    background: transparent;
    width: 99.70%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#menu {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #333;
}

#clearBtn {
    position: absolute;
     right: 0;
}



.colorContainer {
    display: inline-block;
    padding: 10px;
    position: relative;
}

#colorInput {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#colorInput::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
}

#colorInput::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

#colorInput::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}
#colorInput:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}



#undoBtn{
    position: absolute;
    right:215px;
}
#redoBtn {
   position: absolute; 
   right:145px;
}


/* Slider for Brush Thickness */
.slider-container {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;
}
.slider {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    writing-mode: vertical-lr;
    width: 8px;
    height: 150px;
    background: linear-gradient(to bottom, #3f3f3f, #1f1f1f);
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.3s;
    cursor: pointer;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #252525, #141414);
    border-radius: 50%;
    cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
    background: #ff2e00;
}



button, .dropdown-content button {
    display: inline-block; /* Keep all buttons inline */
    margin-right: 10px; /* Add space between buttons */
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 10px;
    top: 60px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.dropdown-content button {
    display: block;
    width: 100%;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}
button:hover{
    background-color:#cccaca ;
}

.dropdown-content button:hover {
    background-color: #cccaca;
}
.dropdown {
    display:flex;
    align-items: center;
}
.dropdown:last-child {
    position: absolute;
    right: 75px;
}
.dropdown:first-child {
    position: absolute;
    left: 10px;
}
#pointerToggleBtn{
    position: absolute;
    left:170px;
}
#shapes_tab {
    position: absolute;
    left: 230px; /* distanza dal bordo sinistro accanto a pointer */
}
#text_tab {
    position: absolute;
    left: 300px; /* accanto alle forme */
}
