body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

canvas {
    border: 2px solid black;
    background: transparent;
    width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: left;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    border: 2px;
    border-color: #333;
}

#clearBtn {
    position: absolute;
    right: 10px; /* Adjust distance from the left */
}
#clearBtn img {
    display: block;
}

button:hover {
    background-color: #ffd3d3;
}