canva always with proportions 16/9 	    to do
elements in the top part like a header	✔
pointer to not draw     		        ✔
various pencils     			        ✔ and working on more
size for pencils    			        ✔
geometric figures  			            ✔
download        			            ✔
user system 				            to do
text block  				            ✔
clear canva 				            ✔
layering    				            to do
undo action 				            ✔
redo action 				            ✔
rubber                                  to do

